{% include 'user_header.html' %}
<style>
table {
	font-family: times new roman;
	border-collapse: collapse;
	width: 100%;
}
td, th{
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
	}
</style>
 <div class="container" style="margin:0 auto;">
 	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-top: 100px;">
    <div class="card" >
        <h5 class="card-header">Apply Job</h5>
        <div class="card-body">
                <div class="alert alert-success">Job Applied Successfully. We Will Contact You Soon.</div>   
        </div>
    </div>
</div>


</from>